mixin headname(main, title)
  h3= main
    |  -  
    = title

mixin formatCssCode(type, ...args)
  pre
    span= type
    |
    - var count = args.length - 1
    each val, index in args      
      if index == 0
        |
        |#{val}
      else if index == count
        |
        |#{val}
      else
        |
        |   #{val}

mixin formatHtmlCodeComplex(type, levels, ...args)
  pre
    span= type
    |
    - var count = args.length - 1
    each val, index in args      
      if index == 0
        |
        |#{val}
      else if index == count
        |
        |#{val}
      else if levels == true
        |
        |   #{val}
      else
        |
        |#{val}

mixin formatHtmlCodeSimple(type, code)
  pre
    span= type
    |
    |#{code}

mixin codeExampleBlock(title, divClass, pClass, ...args)
  hr
  h3= title
  article
    h5 Sample Content
    div(class=divClass)
      each val in args
        p(class=pClass)
          |#{val}

mixin exampleBlock(title, divClass, pClass, ...args)
  hr
  h3= title
  article
    h5 Sample Content
    div(class=divClass)
      each val in args
        if val.selector == "image"
          #{val.el}(class="image" src=val.text)
        else
          #{val.el}(class=val.selector)
            |#{val.text}

mixin elementBlock(...args)
  each val in args
    #{val.el}(class=val.selector)= val.text